---
import "../styles/global.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-inter" preload />
    <title>Astro Basics</title>
  </head>
  <body class="antialiased">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-6 mt-20">
        <div class="rounded space-y-2">
          <h1 class="text-5xl font-bold">Carlos Ferreras</h1>
          <h3 class="text-xl font-semibold">Desarrollador Front End</h3>
		  <p class="text-gray-600 leading-relaxed w-96 text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, soluta!</p>
        </div>
        <div class="text-lg">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-inter), sans-serif;
  }
</style>
